version: "3.9"
services:
  db:
    image: pgrouting/pgrouting:latest
    container_name: rr_db
    environment:
      POSTGRES_DB: rr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data/db:/var/lib/postgresql/data
    restart: unless-stopped
